#kendoUiMobileApp .image-with-text img {
    float: left;
    margin-right: 15px;
}
.leftmain{ margin:-4px 0 0 0px !important; padding:0px; float:left; width:32%; height:38px !important; }
.rightmain{ margin:0px; padding:0px; width:34%; height: 51px !important; float:right !important; }
.middlemain{ margin:0px; padding:0px; float:left; width:32%; height: 51px !important;}
.abbc { height: 178px !important;}
.topreturn{top:-1px !important;}
#kendoUiMobileApp .block {
    display: block;
    margin: 1em;
    padding: 1em;
    text-align: center;
}
.dateAlign{margin:8px 0 0 0px !important; padding:0px; float:left;}
.dateAlignmiddle{ padding:21px 0px 21px 0px !important; color:#333333;}
.red{ color:#333333;}
#kendoUiMobileApp .button-group,
#kendoUiMobileApp .icon-group {
    width: 100%;
    display: table;
    border-collapse: separate;
    border-spacing: 1em;
}

#kendoUiMobileApp .button-group {
    table-layout: fixed;
    padding: 0px;
    margin: -14px 0 0 0px;

}

​​​​​#appVersion{
     font-size:20px;
     font-weight:bold;
     padding-left:15px;
     color:#333333;
}


#kendoUiMobileApp .button-group .km-button {
    display: table-cell;
    padding: .6em .8em;
    margin: 1em 0;
}

#kendoUiMobileApp .button-group.button-group-vertical .km-button {
    display: block;
}

#kendoUiMobileApp .group-separator {
    border: none;
    background: transparent;
}

#kendoUiMobileApp .group-separator-header {
    margin: 1em 0;
}

#kendoUiMobileApp .app-icon {
    text-align: center;
    margin: 3em 0;
}

#kendoUiMobileApp .view-title {
    text-align: center;
    font-weight: normal;
}

#kendoUiMobileApp .km-drawer-button:after,
#kendoUiMobileApp .km-drawer-button:before {
    content: '\e077';
}

#kendoUiMobileApp form .form-content li p {
    margin: 0;
    padding: 0;
}

#kendoUiMobileApp .icon-group .app-icon,
#kendoUiMobileApp .icon-group .app-details {
    display: table-cell;
    vertical-align: top;
}

#kendoUiMobileApp .icon-group .app-icon {
    margin: 0;
    width: 5em;
    overflow: hidden;
    text-align: left;
}

#kendoUiMobileApp .icon-group .app-icon img {
    display: block;
    max-width: 5em;
    height: auto;
}

#kendoUiMobileApp .icon-group .app-details h2,
#kendoUiMobileApp .icon-group .app-details h4 {
    font-weight: normal;
    margin: 0;
}

#kendoUiMobileApp .icon-group .app-details h4 {
    color: #828282;
    margin-top: 0.5em;
}

#kendoUiMobileApp #navigation-container.km-tabstrip .km-button .km-text {
    max-width: 100%;
    word-wrap: break-word;
}

#kendoUiMobileApp .unsupported-preview {
    text-align: center;
    margin-top: 12rem;
}

#kendoUiMobileApp .info-icon {
    margin: 0 auto;
    width: 3.3rem;
    height: 3.3rem;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAAABmJLR0QA/wD/AP+gvaeTAAABIklEQVRoge3YMU4CURDG8R+KqImGxNoTWNgYqSgtvYBn8EY2nkE7LTwItbGUwhgLFSxgLTS4i4w+SOafTDc73/vydva9HZIkSZIlooNrPM6IK2wUW10DehjXRC9ScC2ymMkOROQ0JtrAv5MGvjAKyinGLgZmN/AAO5GCrchiU9rY9313R7jH2x9oJslvieqBU5z5+Zowwh0ugjTD6OBF/RWiioNI8YhzYBtbc+TvBWh+kiexwt/1CAPPuMR7QK3i9NU3cT9SMHugNGmgNGmgNCtvYD2ozjHOcYLDmtxNHOEJD0H6C9HGUPPbaBXD6bPF6Zp/8VV0FxVf+R6IMLDInGdpZkS35n99biKEo/6JWyazoKaj81eTGdE4SD9JkiRJVpMPXjloDVm2S04AAAAASUVORK5CYII=');
    background-repeat: no-repeat;
}

#kendoUiMobileApp .editableListItem span {
    float: left;
}

#kendoUiMobileApp .km-content .details-content .editableListItem {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

#kendoUiMobileApp .km-content .details-content p,
#kendoUiMobileApp.km-nova .km-content .details-content h3 {
    padding: 1rem;
    margin: 0;
}

#kendoUiMobileApp .km-content .details-content .editableListItem:first-of-type {
    border-top: 0;
}

#kendoUiMobileApp .details-content .editableListItem + .editableListItem {
    border-top: 0;
}

#kendoUiMobileApp .km-content li label:not(.km-label-above) > span:not(.km-widget),
#kendoUiMobileApp .editableListItem > span {
    display: inline-block;
    word-break: break-word;
    width: 50%;
    padding-right: 10px;
}

#kendoUiMobileApp .km-content li p {
    margin-left: 0;
    margin-right: 0;
}

#kendoUiMobileApp .editableListItem {
    overflow: hidden;
    width: 100%;
}

#kendoUiMobileApp.km-ios7 .button-group .km-button.primary {
    color: #fff;
    background-color: #007aff;
}

#kendoUiMobileApp.km-android .button-group .km-button.primary {
    color: #fff;
    background-color: #33b5e5;
}


/* START_CUSTOM_CODE_kendoUiMobileApp */


/* Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes */

#fieldlist {
    margin: 0;
    padding: 0;
}

#fieldlist li {
    list-style: none;
    padding-bottom: .7em;
    text-align: left;
}

#fieldlist label {
    display: block;
    padding-bottom: .3em;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px;
    color: #444;
}

#fieldlist li.status {
    text-align: center;
}

#fieldlist li .k-widget:not(.k-tooltip),
#fieldlist li .k-textbox {
    width: 220px;
    margin: 0 5px 5px 0;
}

.confirm {
    padding-top: 1em;
}

.valid {
    color:red;
    margin: -20px 0 20px 17px;
}

.invalid {
    color: red;
    padding: -13px;
    margin:-23px 0 20px 15px;
    padding: 0px;
    float: left;
}

#fieldlist li input[type="checkbox"] {
    margin: 0 5px 0 0;
}

span.k-widget.k-tooltip-validation {
    display: inline-block;
    width: 160px;
    text-align: left;
    border: 0;
    padding: 0;
    margin: 0;
    background: none;
    box-shadow: none;
    color: red;
}
.km-flat .km-list>li {
    border-style: solid;
    border-width: 0 0 0px 0;
background: rgba(255,255,255,1);
background: -moz-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 47%, rgba(237,237,237,1) 100%);
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(255,255,255,1)), color-stop(47%, rgba(255,255,255,1)), color-stop(100%, rgba(237,237,237,1)));
background: -webkit-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 47%, rgba(237,237,237,1) 100%);
background: -o-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 47%, rgba(237,237,237,1) 100%);
background: -ms-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 47%, rgba(237,237,237,1) 100%);
background: radial-gradient(ellipse at center, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 47%, rgba(237,237,237,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=1 );


}
#kendoUiMobileApp .button-group .km-button {
    display: table-cell;
    padding: .6em .8em;
    margin: 1em 0;
    color:#FFF !important;
}
.k-tooltip-validation .k-warning {
    display: none;
}

.tableGroupContentLeft{float:left; margin:0px; padding:10px 0px 10px 2px; width:25%; color:#000000 !important;}

.tableGroupContent{float:left; margin:0px; padding:10px 0px 10px 2px; width:75%; color:#000000 !important;}

.groupInstallationLable{ float:left; margin:0px; padding:10px 10px 10px 2px; color:#000000 !important; text-align:left;}

.marginTop9{width:100%; margin-top:9px;}

.marginTop26 {margin-top:26px !important;}

.tableBorder{border:1px solid #889bb9 !important;}
.widthSelect{ width:30% !important; top:33% !important; padding:0px;}
.listTable{border:1px solid #889bb9 !important; margin-top:0px; padding:0 0 0 2px;}
.listTableBroder{
    margin: -20px -3px 0px -12px;
    border: 0px;
    border-bottom:0px;
    border: none !important;}


.marginTop{ margin-top:9px;}
.FirstTblDiv{    overflow-x:auto;    margin-top:20px;}

/*.innerDiv{    float:left;     background: linear-gradient(rgb(130, 142, 160) 0px, rgb(74, 96, 128) 36%, rgb(93, 107, 130) 73%, rgb(90, 113, 143) 100%);     margin:0px;     padding:10px;     width: 20%;    color:#FFFFFF;}

.innerDiv-last{    float:left;     background: linear-gradient(rgb(130, 142, 160) 0px, rgb(74, 96, 128) 36%, rgb(93, 107, 130) 73%, rgb(90, 113, 143) 100%);     margin:0px;     padding:10px;     width: 10%;    color:#FFFFFF;}*/

.innerDiv{ float:left; background-color:#8b8787;  margin:0px;     padding:10px;     width: 20%;    color:#FFFFFF;}

.innerDiv-last{    float:left;    background-color:#8b8787;  margin:0px;     padding:10px;     width: 10%;    color:#FFFFFF;}

.subDivEven{ color:#000000 !important; background-color:#d7dde1; height:50px; float:left; margin:0px; padding:8px 0px 5px 10px; width:50%;}
.subDivOdd{   color:#000000 !important; height:50px; float:left; margin:0px; padding:8px 0px 5px 10px; width:50%;}
.subDivEvenPadding{ color:#000000 !important; background-color:#d7dde1; height:50px; float:left; margin:0px; padding:0px 0px 5px 10px; width:50%;}
.subBtnDivOdd{   color:#000000 !important; height:50px; float:left;  margin: 0 0 0 -12px; padding:8px 0px 5px 0x; width:50%;}
.clear{    clear:left;}
.mainDiv{    width:100%;}
.activity-tbl-content{ text-align: center; margin:0px;  padding: 0px 0px 5px 0px; width:100%; height:50px;}
.activity-tbl-contentHalf{    float:left;     margin:0px;     padding:15px 0px 5px 0px;   width:50%; }

.km-widget input[readonly], .km-widget input[type="image"], .km-widget #statusSelect:not([multiple]) {    user-select: none;}#statusSelect:not([size]):not([multiple]), #statusSelect[size="0"], #statusSelect[size="1"] {    background-color: buttonface;}#statusSelect, #statusSelect[size="0"], #statusSelect[size="1"] {    border-radius: 0px;    border-color: rgb(169, 169, 169);}#statusSelect:not(:-internal-list-box) {    overflow: visible !important;}#statusSelect {    -webkit-appearance: menulist;    box-sizing: border-box;    align-items: center;    white-space: pre;    -webkit-rtl-ordering: logical;    color: #333 !important;  cursor: default;    border-width: 1px;    border-style: solid;    border-color: #fff;    border-image: initial;    width:80%;    right:0px !important;}
#statusSelect {    border-radius: 5px; width:50% !important;}
input, textarea, #statusSelect, button {    text-rendering: auto;    color: initial;    letter-spacing: normal;    word-spacing: normal;    text-transform: none;    text-indent: 0px;    text-shadow: none;    display: inline-block;    text-align: start;    margin: 0em 0em 0em 0em;    font: 13.3333px Arial;}
input, textarea, #statusSelect, button, meter, progress {    -webkit-writing-mode: horizontal-tb;}/*****************************/

.actualCalendar{   border-radius: 5px; width:30% !important; }
/* END_CUSTOM_CODE_kendoUiMobileApp */
